@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap');

.header{
    text-align: center;
    h1{
        font-family: 'Ms Madi', cursive;
        font-size: 2.8em;
    }
    p{
        font-size: 16px;
        max-width: 400px;
    }
    a{
        color: var(--contrast-color);
        font-weight: bold;
        font-size: 16px;
    }
    .icons{
        @extend .flex-central;
        margin-top: 15px;
        .icon{
            max-width: 25px;
            margin: 4px;
            opacity: 0.6;
            filter: invert(100%);
            &:hover{
                opacity: 1;
            }
        }
    }
}

.home{
    @extend .flex-central;
    flex-direction: column;
    width: 80%;
    height: 50vh;
    .border{
        border-radius: 100%;
        background-color: var(--secondary-color);
        @extend .flex-central;
        animation: border 5s ease-in-out infinite;
        .avatar{
            border-radius: 100%;
            padding: 8px;
            height: 12.5rem;
            width: 12.5rem;
            object-fit: cover;
            background-color: var(--primary-color);            
        }
    }
}

@keyframes border{
    0%{
        padding: 7px;
    }
    50%{
        padding: 21px;
    }
    100%{
        padding: 7px;
    }
}