.home {
  flex-direction: column;
  width: 80%;
  height: 50vh;
}
.home .border {
  border-radius: 100%;
  background-color: var(--secondary-color);
  animation: border 5s ease-in-out infinite;
}
.home .border .avatar {
  border-radius: 100%;
  padding: 8px;
  height: 12.5rem;
  width: 12.5rem;
  object-fit: cover;
  background-color: var(--terciary-color);
}

@keyframes border {
  0% {
    padding: 7px;
  }
  50% {
    padding: 21px;
  }
  100% {
    padding: 7px;
  }
}
.donate {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  text-align: center;
}
.donate h1 {
  font-size: 1.6em;
}
.donate h2 {
  font-size: 1.3em;
}
.donate h1, .donate h2, .donate p {
  margin: 10px;
}
.donate .pix {
  padding: 8px;
  border: 2px dashed var(--contrast-color);
}
.help {
  flex-direction: column;
  text-align: center;
}
.help h1 {
  font-size: 1.6em;
}
.help p {
  width: 90%;
}
.help h1, .help p {
  margin: 10px;
}
.help a {
  margin: 10px;
}

.themes {
  flex-direction: column;
}
.themes .btn-theme {
  background-color: var(--secondary-color);
  border: none;
  margin: 5px;
  color: var(--contrast-color);
  padding: 15px 30px;
  border-radius: 20px;
}
.themes .btn-theme:hover {
  background-color: var(--contrast-color);
  color: var(--secondary-color);
  transition: 0.4s;
}

:root {
  --bg-color: #FF9292;
  --primary-color: #FFB4B4;
  --secondary-color: #FFDCDC;
  --terciary-color: #FFE8E8;
  --contrast-color: #fff;
}

.flex-central, .menu, .content-section, .home, .home .border, .help, .themes {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn, .menu .menu-item, .btn-outline, .donate .btn-work {
  padding: 12px 24px;
  text-align: center;
  border-radius: 40px;
  color: var(--contrast-color);
  text-decoration: none;
  margin: 5px;
}
.btn:hover, .menu .menu-item:hover, .btn-outline:hover, .donate .btn-work:hover {
  font-weight: bold;
  transition: 0.4s;
}

.btn-outline, .donate .btn-work {
  border: 1px solid var(--contrast-color);
}
.btn-outline:hover, .donate .btn-work:hover {
  background-color: var(--contrast-color);
  color: var(--primary-color);
  transition: 0.4s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  color: var(--contrast-color);
}

.header {
  font-size: 21px;
  text-align: center;
}
.header p {
  font-size: 16px;
  max-width: 400px;
}

.content-section {
  margin: 20px;
  height: 75vh;
  flex-direction: column;
}
.content-section .content-container {
  background-color: var(--primary-color);
  border-radius: 40px;
  padding: 20px;
  max-width: 600px;
  min-height: 100%;
}

.menu {
  flex-wrap: wrap;
}
.menu .menu-item {
  background-color: var(--primary-color);
}

.footer {
  font-size: 14px;
  text-align: center;
  min-width: 100%;
}
.footer:hover {
  font-weight: bold;
  transition: 0.3s;
}

@media (max-width: 760px) {
  .header {
    font-size: 18px;
  }
  .content-section {
    margin: 10px;
    min-height: 60vh;
  }
  .content-section .content-container {
    padding: 10px;
  }
  .menu {
    margin: 5px;
  }
  .menu .menu-item {
    margin: 5px;
  }
  p {
    font-size: 0.9em !important;
  }
}

/*# sourceMappingURL=style.css.map */
