@import url("https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap");
.header {
  text-align: center;
}
.header h1 {
  font-family: "Ms Madi", cursive;
  font-size: 2.8em;
}
.header p {
  font-size: 16px;
  max-width: 400px;
}
.header .icons {
  margin-top: 15px;
}
.header .icons .icon {
  max-width: 25px;
  margin: 4px;
  opacity: 0.6;
  filter: invert(100%);
}
.header .icons .icon:hover {
  opacity: 1;
}

.home {
  flex-direction: column;
  width: 80%;
  height: 50vh;
}
.home .border {
  border-radius: 100%;
  background-color: var(--secondary-color);
  animation: border 5s ease-in-out infinite;
}
.home .border .avatar {
  border-radius: 100%;
  padding: 8px;
  height: 12.5rem;
  width: 12.5rem;
  object-fit: cover;
  background-color: var(--primary-color);
}

@keyframes border {
  0% {
    padding: 7px;
  }
  50% {
    padding: 21px;
  }
  100% {
    padding: 7px;
  }
}
.donate {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  text-align: center;
}
.donate h1 {
  font-size: 1.6em;
}
.donate h2 {
  font-size: 1.3em;
}
.donate h1, .donate h2, .donate p {
  margin: 10px;
}
.donate .pix {
  padding: 8px;
  border: 2px dashed var(--highlight-color);
  color: var(--highlight-color);
}

.help {
  flex-direction: column;
  text-align: center;
}
.help h1 {
  font-size: 1.6em;
}
.help p {
  width: 90%;
}
.help h1, .help p {
  margin: 10px;
}
.help a {
  margin: 10px;
}

.themes {
  flex-direction: column;
}
.themes .btn-theme {
  background-color: var(--secondary-color);
  border: none;
  margin: 5px;
  color: var(--contrast-color);
  padding: 15px 30px;
  border-radius: 20px;
}
.themes .btn-theme:hover {
  background-color: var(--contrast-color);
  color: var(--secondary-color);
  transition: 0.4s;
}

:root {
  --bg-color: #e18181;
  --primary-color: #e8afa1;
  --secondary-color: #eCDAD1;
  --highlight-color: #e41010;
  --contrast-color: #fff;
}

.flex-central, .content-section, .header .icons, .home, .home .border, .help, .themes {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn, .menu .menu-item, .btn-outline {
  padding: 10px 20px;
  text-align: center;
  border-radius: 20px;
  font-size: 14px;
  color: var(--contrast-color);
  background-color: var(--primary-color);
  text-decoration: none;
  margin: 5px;
}
.btn:hover, .menu .menu-item:hover, .btn-outline:hover {
  background-color: var(--secondary-color);
  color: var(--highlight-color);
  font-weight: bold;
  transition: 0.4s;
}

.btn-outline {
  border: 1px solid var(--highlight-color);
  color: var(--highlight-color);
}
.btn-outline:hover {
  background-color: var(--highlight-color);
  color: var(--primary-color);
  transition: 0.4s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  color: var(--contrast-color);
}

::selection {
  background-color: var(--primary-color);
  color: var(--contrast-color);
}

.content-section {
  margin: 20px;
  height: 75vh;
  flex-direction: column;
}
.content-section .content-container {
  background-color: var(--primary-color);
  border-radius: 40px;
  padding: 20px;
  max-width: 600px;
  min-height: 100%;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px;
}
.menu .menu-item {
  margin: 5px;
}

.footer {
  font-size: 14px;
  text-align: center;
  min-width: 100%;
}
.footer:hover {
  font-weight: bold;
  transition: 0.3s;
}

@media (max-width: 760px) {
  .content-section {
    margin: 10px;
    min-height: 60vh;
  }
  .content-section .content-container {
    padding: 10px;
  }
  p {
    font-size: 0.9em !important;
  }
}

/*# sourceMappingURL=style.css.map */
